:root {
    --brand-color-primary: #ff0008;
    --brand-color-secondary: rgb(87, 86, 86);
    --brand-color-complement: #f38080;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headernav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

}

#can {
    color: var(--brand-color-primary);
    font-weight: bolder;
}

#bridge {
    color: var(--brand-color-secondary);
}

.menuMain {
    background-color: transparent;
    font-weight: bold;
}

.c-image {
    height: 100%;
    object-fit: cover;
}

.c-item {
    height: 300px;
}

.servicios {
    color: var(--brand-color-primary);
    border-radius: 1rem;
}

.servicios:hover {
    color: white;
    background-color: var(--brand-color-primary);
    border-radius: 1rem;
}

.carruselMain {
    border-radius: 2rem;
    overflow: hidden;
}

.titulo {
    display: flex;
    justify-content: center;
    color: var(--brand-color-primary);
    font-family: "Dancing Script";
    font-weight: bold;
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
}

.titulo2 {
    display: flex;
    justify-content: center;
    color: var(--brand-color-primary);
    font-family: "Dancing Script";
    font-weight: bold;
    font-size: 3rem;
    padding-top: 2rem;
    text-align: center;
}

.shapetext {
    background-color: var(--brand-color-primary);
    margin: 2rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.textShape {
    display: flex;
    align-items: center;
    color: #fff;
    font-family: 'Poppins';
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding: 2rem;

}

.cardsService {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.cardSer {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px;
    display: flex;
    justify-content: space-between;
    border: #ff0008;
    border-style: solid;
    border-width: 1.5px;
}

.cardSer:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card-title {
    color: var(--brand-color-primary);
    font-family: "Poppins";
    font-weight: bold;
    text-align: center;
    font-size: medium;
}

.card-body-index {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-card {
    height: 150px;
    object-fit: cover;
}

.card-text {
    font-family: "Poppins";
    font-size: smaller;
    color: black;
    text-align: center;
}

.btn-main-cards {
    background-color: var(--brand-color-primary);
    color: white;
    border: #ff0008;
    border: 1px;
}

.btn-main-cards:hover {
    background-color: white;
    color: var(--brand-color-primary);
    border: var(--brand-color-primary);
    box-shadow: rgba(255, 0, 0, 0.16) 0px 2px 5px;
}

.keywords {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.k1 {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: #ff0008;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list1 {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.textk {
    font-family: 'Poppins';
    font-size: medium;
    text-wrap: wrap;
    font-weight: bold;
    color: var(--brand-color-secondary);
    text-align: center;
    padding-top: .5rem;
}

.icon1 {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 60px;
}

.cardSedes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

footer {
    margin-top: 2rem;
    padding: 1em 0;
}

.footer-07 {
    background: var(--brand-color-primary);
}

.footer-07 a {
    color: white;
}

.footer-07 p {
    color: white;
}

.footer-07 .footer-heading {
    font-family: "Poppins";
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px;
}

.footer-07 .footer-heading .logo {
    color: #fff;
}

.footer-07 .menu {
    margin-bottom: 10px;
}

.footer-07 .menu a {
    font-family: "Poppins";
    color: white;
    margin: 0 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer-07 .ftco-footer-social li a {
    background: transparent;

}

.ftco-footer-social li {
    list-style: none;
    margin: 0;
    display: inline-block;
}

.ftco-footer-social li a {
    height: 40px;
    width: 40px;
    display: block;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    position: relative;
}

.ftco-footer-social li a span {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ftco-footer-social li a:hover {
    color: #fff;
}

.textService {
    padding: 3rem;
}

.img-cardtext {
    height: 400px;
    width: 400px;
    object-fit: cover;
}

.cantext {
    font-weight: bold;
    color: #ff0008;
}

.bridgetext {
    font-weight: bold;
    color: var(--brand-color-secondary);
}

th {
    background-color: #ff0008 !important;
    padding: 10px !important;
    color: #fff !important;
    text-align: center;
}

.tablaPrecios {
    padding: 3rem !important;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    font-size: 2.5rem;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.whatsapp-button:hover {
    background-color: var(--brand-color-secondary);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.chat {
    color: red;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;

}

.chat:hover {
    color: #fff;
}

.linkChat {
    text-decoration: none;
}

@media (max-width: 768px) {

    .keywords {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        width: fit-content;
    }

    .k1 {
        border-radius: 50%;
        height: 70px;
        width: 70px;
        background-color: #ff0008;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .list1 {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .textk {
        font-family: 'Poppins';
        font-size: 10px;
        text-wrap: wrap;
        font-weight: bold;
        color: var(--brand-color-secondary);
        text-align: center;
        padding-top: .5rem;
    }

    .icon1 {
        display: flex;
        justify-content: center;
        color: #fff;
        font-size: 30px;
    }

    .img-cardtext {
        max-width: 300px;
        max-height: 300px;
        object-fit: cover;
    }

    .cardsService {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

}